<!DOCTYPE html>
<html>
	<head>
		<title>Recipe Book</title>
	</head>
	<body>
		<h1> Recipe Book </h1>
		{% if request.user.is_authenticated %}
			<form method="POST" action="{% url 'logout' %}">
				{% csrf_token %}
				{{ form.as_p}}
				<button type="submit">Logout</button>
			</form>
		{% else %}
			<h2><a href="{% url 'login' %}">Login</a></h2>
		{% endif %}
		<ul>
		{% for recipe in object_list %}
		<li>
			<a href="{{ recipe.get_absolute_url }}">
				{{ recipe }}
			</a>
		</li>
		{% endfor %}
		</ul>
		</div>
	</body>
</html>